$default-width: 28px;
$default-height: 28px;
$default-color: #ff6f61;
$default-bell-color: #fff;

.wonderpush-blurb {
  cursor: pointer;
  display: flex;
  align-items: center;
  &.wonderpush-align-center {
    justify-content: center;
  }
  &.wonderpush-align-right {
    flex-direction: row-reverse;
    .wonderpush-icon-container, img {
      margin-right: 0;
      margin-left: 10px;
    }
  }
  img {
    margin-right: 10px;
    max-width: 120px;
    max-height: 120px;
  }

  .wonderpush-icon-container {
    margin-right: 10px;
    cursor: pointer;
    width: $default-width;
    height: $default-height;
    border-radius: $default-width / 2;
    background: $default-color;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .wonderpush-icon {
      mask-size: contain;
      -webkit-mask-size: contain;

      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;

      mask-position: center center;
      -webkit-mask-position: center center;

      background-color: $default-bell-color;
      width: 60%;
      height: 60%;
      display: block; // for Shopify...
    }

  }

}
